<div class="container__bigcard">

<div class="big-card__photo">
<img src="https://assetsio.reedpopcdn.com/iron-man_aJ1y3LP.jpg?width=690&quality=75&format=jpg&auto=webpg"
alt=""
height="200px"
width=""
srcset="">
</div>


<div class="big-card__title">
<h1><a href="#">What is Lorem Ipsum?</a> </h1>

</div>

<div class="big-card__description">

  <p>
    <a href="#">

     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique nibh ipsum, at tincidunt purus dapibus eget. Pellentesque blandit ante in mauris varius ultricies. Nulla facilisi. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quam est, iaculis at augue et, maximus vulputate sapien. Praesent ex velit, rutrum eget purus id, lobortis consequat eros.

  </a>
</p>
</div>

</div>
