<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://w.wallhaven.cc/full/4d/wallhaven-4d681o.jpg" cardTitle="Novo Homem De Ferro Animation"
    cardDescription="Novo filme em desenvolvimento"></app-big-card>
  </div>

  <div class="articles__others">

<app-small-card
cardphotSmall="https://w.wallhaven.cc/full/v9/wallhaven-v9x798.jpg"
cardtittleSmall="O Devorador de Mundos">
</app-small-card>

<app-small-card
cardphotSmall="https://w.wallhaven.cc/full/73/wallhaven-73rldy.png"
cardtittleSmall="Eu  Sou o Groot">
</app-small-card>

<app-small-card
cardphotSmall="https://w.wallhaven.cc/full/ym/wallhaven-ymkoog.png"
cardtittleSmall="Essa dimensão nunca mais será a mesma">
</app-small-card>

  </div>

</div>
